

/* Formula to perfectly center a background image
body { 
  background: url(./../assets/Star-Wars-poster.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} 
*/

.baseModule {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -1;
}

.gradient {
  background-color: beige;
  background-image: 
    linear-gradient(
      rgba(231, 220, 220, 0.018),
      rgba(0, 0, 0, 0.9997)
    ),
    url("./../assets/Star-wars-poster.jpg");
    background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
}

.play_button {
  background-color: rgb(139, 130, 139, 0.4);
  color: white;
  border: 1px solid gray;
  padding: 10px 100px;
  border-radius: 4px;
  outline: none;
}

.play_button_position {
  position: relative;
  top: 80%;
  text-align: center;
}

/*  ******  Glow effect scripts ****** */
.glow_effect {
    -webkit-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    -ms-transition: box-shadow 1s linear;
    -o-transition: box-shadow 1s linear;
    transition: box-shadow 1s linear;
}
.glow_effect:hover {
  -webkit-box-shadow:0 0 50px  rgb(27, 226, 27); 
  -moz-box-shadow: 0 0 50px  rgb(27, 226, 27); 
  box-shadow:0 0 50px rgb(27, 226, 27);
}

.glow_effect.glow {
  -webkit-box-shadow:0 0 40px blue; 
  -moz-box-shadow: 0 0 40px blue; 
  box-shadow:0 0 40px blue;
}


/* ***** Modal ***** */

